attr==0.3.2
bpython==0.25
brotli==1.1.0
brotlicffi==1.1.0.0
cffi==1.17.1
chardet==5.2.0
colorama==0.4.6
ConfigParser==7.2.0
cx_Oracle==8.3.0
defusedxml==0.7.1
docutils==0.22
easy_thumbnails==2.10.1
filelock==3.19.1
h2==4.3.0
HTMLParser==0.0.2
ipdb==0.13.13
ipython==9.5.0
ipywidgets==8.1.7
isort==6.0.1
jnius==1.1.0
keyring==25.6.0
MySQL-python==1.2.5
nacl==0.0.0
numpy==2.3.2
olefile==0.47
oracledb==3.3.0
protobuf==6.32.0
psycopg==3.2.10
psycopg2==2.9.10
psycopg_pool==3.2.6
pylibmc==1.6.3
pymemcache==4.0.0
pyodide==0.0.2
pyOpenSSL==25.1.0
PyQt6==6.9.1
PySide6==6.9.2
python_bcrypt==0.3.2
pywatchman==3.0.0
PyYAML==6.0.2
setuptools==80.9.0
simplejson==3.20.1
Sphinx==8.2.3
tblib==3.1.0
thread==2.0.5
urllib3_secure_extra==0.1.0
xmlrpclib==1.0.1
zstandard==0.24.0
